---
layout: default
---
<div class="container">
<div class="jumbotron jumbotron-fluid pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row justify-content-center">
				<div class="col-md-10 pr-0 pr-md-4 pt-4 align-self-center">
				  <center>
				  <h1 class="display-4 article-headline">{{ page.title }}</h1>
				  </center>
			</div>
		</div>
	</div>
</div>





<div class="container-lg pb-4 pt-4">
	<div class="row justify-content-center">
        
        
        <!-- Share -->
		<div class="col-lg-2 mb-4 col-md-12">
			<div class="sticky-top sticky-top-offset text-center">
				<div style="color:#555">
					Partilhar
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>
        
        
		<div class="col-md-12 col-lg-8">
            
            <!-- Article -->
			<article class="article-post">           
			{{ content }}                
			</article>
            
		</div>
        
        
	</div>
</div>
