---
layout: default
---

<div class="container">
<div class="jumbotron jumbotron-fluid pl-0 pt-0 pb-0 bg-white position-relative">
		<div class="h-100 tofront">
			<div class="row justify-content-center">
				<div class="col-md-10 pr-0 pr-md-4 pt-4 align-self-center">
				  <center>
				  {% unless page.categories == empty %}
					<p class="text-uppercase font-weight-bold">
                        <span class="catlist">
						{% for category in page.categories %}
                          <a class="sscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category | downcase }}</a><span class="sep">, </span>
                        {% endfor %}
                        
                        </span>
					</p>{% endunless %}
					<h1 class="display-4 article-headline">{{ page.title }}</h1>
			</div>
		</div>
	</div>
</div>





<div class="container-lg pb-4 pt-4">
	<div class="row justify-content-center">
        
        
        <!-- Share -->
		<div class="col-lg-2 pr-4 mb-4 col-md-12">
			<div class="sticky-top sticky-top-offset text-center">
				<div style="color:#555">
					Partilhar
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
						<a class="a2a_button_facebook"></a>
						<a class="a2a_button_twitter"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>
        
        
		<div class="col-md-12 col-lg-8">
            
            <!-- Article -->
			<article class="article-post">           
			{{ content }}                
			</article>
            
		</div>
        
        
	</div>
</div>


<!-- Aletbar Prev/Next -->
<div class="alertbar" id="alertbar">
    <div class="container">
        <div class="row prevnextlinks">
          
            <div class="col-md-6 rightborder pl-0" style="padding:10px 0;">
                {% if page.previous %}
                <a class="sans" href="{{ site.baseurl }}{{ page.previous.url }}" style="text-decoration:none;"><b>&#8592;</b>&nbsp;&nbsp;{{page.previous.title}}</a>
                {% else %}
                <a class="sans" href="{{ site.baseurl }}{{ site.posts[0].url }}" style="text-decoration:none;"><b>&#8592;</b>&nbsp;&nbsp;{{site.posts[0].title}} </a>
                {% endif %}
            </div>
          
          
            <div class="col-md-6 text-right pr-0" style="padding:10px 0;">
                {% if page.next %}
                <a class="sans" href="{{ site.baseurl }}{{ page.next.url }}" style="text-decoration:none;">{{page.next.title}}&nbsp;&nbsp;<b>&#8594;</b></a>
                {% else %}
                <a class="sans" href="{{ site.baseurl }}{{ site.posts[-1].url }}" style="text-decoration:none;">{{site.posts[-1].title}}&nbsp;&nbsp;<b>&#8594;</b></a>
                {% endif %}
            </div>
          
        </div>
    </div>
</div>
